<h1 style="margin:190px 0 20px 0; width: 100%; font-size: 38px; color: #222; text-align: justify;">Chính phủ báo cáo gì với Quốc hội vụ thổi giá kit xét nghiệm của Việt Á?</h1>
<div class="author__all">
    <div class="author">
        <div style="font-size: 38px; padding-right:10px ;" class="author__logo">
            <i class="far fa-address-card"></i>
        </div>
        <div class="author__info">
            <div style="font-weight:700;" class="author__name">Hoàng Ngọc Hoài Nam</div>
            <div style="color:#666" class="author__email">hoainam@gmail.com</div>
        </div>
    </div>
    <div style="display: flex; align-items: center;" class="author__time">
        <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        <div>10:10 05/01/2022</div>
    </div>
</div>

<p style="font-weight: 600; text-align:justify;">
    Báo cáo của Chính phủ do Bộ trưởng Y tế Nguyễn Thanh Long ký, cho biết Bộ Y tế, Bộ Khoa học - Công nghệ 
    đang rà soát toàn bộ quá trình nghiên cứu, nghiệm thu, chuyển giao, cấp phép, quản lý liên quan tới vụ 
    việc của Công ty Việt Á.
</p>
<p style="text-align:justify;">
    Bộ trưởng Y tế Nguyễn Thanh Long vừa thay mặt Chính phủ gửi tới Quốc hội báo cáo về tình hình phòng, chống dịch bệnh Covid-19, 
    nhất là việc ứng phó với biến thể mới Omicron; việc lãnh đạo, chỉ đạo, xử lý, phòng ngừa tham nhũng, tiêu cực, lợi ích nhóm 
    trong công tác phòng, chống dịch.
</p>
<div style="width: 100%; display:flex; flex-direction:column; margin-top: 20px;" class="image">
    <img style="width: 700px; height:auto; margin: 5px auto;" src="https://image.thanhnien.vn/660x370/Uploaded/2022/nokvrb/2021_07_24/nguyenthanhlong-botruongboyte_fpdk.jpg" alt="Bo truong Nguyen Thanh Long"></img>
    <label style="text-align: center; font-weight: 400;">Bộ trưởng Nguyễn Thành Long</label>
</div>

<h5>Vượt qua nhiều vòng đánh giá</h5>
<p style="text-align:justify;">
    Báo cáo về các vấn đề liên quan đến vụ việc xảy ra tại Công ty Việt Á, ông Long cho biết, tại thời điểm đầu năm 2020, 
    chưa có sinh phẩm chẩn đoán SARS-CoV-2 nào (kể cả nhập khẩu) được cấp phép lưu hành tại Việt Nam, 
    gây áp lực lớn cho công tác phòng, chống dịch.
</p>
<p style="text-align:justify;">
    Trong bối cảnh đó, Bộ Khoa học - Công nghệ đã phối hợp với các đơn vị triển khai nhiệm vụ khoa học công nghệ cấp quốc gia, trong đó có nhiệm vụ nghiên cứu chế tạo bộ sinh phẩm RT-PCR và Realtime-PCR phát hiện chủng vi rút corona mới 2019 (2019-nCoV) do Học viện Quân y là đơn vị chủ trì và Công ty cổ phần công nghệ Việt Á là đơn vị phối hợp thực hiện.
</p>
<p style="text-align:justify;">
    “Đề tài đã được Hội đồng đánh giá nghiệm thu giai đoạn 1 do Bộ Khoa học - Công nghệ thành lập họp ngày 3.3.2020. Toàn bộ 8/8 chuyên gia và nhà khoa học là thành viên Hội đồng nhất trí kiến nghị Bộ Y tế xem xét cấp phép sử dụng”, báo cáo cho hay.
    Theo báo cáo, căn cứ kiến nghị của Hội đồng đánh giá, nghiệm thu của Bộ Khoa học - Công nghệ nêu trên, kết quả kiểm định độc lập của Viện Vệ sinh dịch tễ T.Ư (Bộ Y tế) đã họp xem xét và thống nhất đề nghị Bộ Y tế cấp phép lưu hành tạm thời trong thời gian 6 tháng phục vụ xét nghiệm sàng lọc để đáp ứng yêu cầu cấp bách trong phòng, chống dịch và trong thời gian này phải tiếp tục đánh giá chất lượng.
</p>
<p style="text-align:justify;">
    Bộ trưởng Y tế Nguyễn Thanh Long cũng cho biết, theo báo cáo của Học viện Quân y, bộ kit được sản xuất tại cơ sở có hệ thống quản lý được chứng nhận phù hợp tiêu chuẩn ISO 13485:2016. Các tiêu chuẩn của bộ kit đã được kiểm định độc lập tại Viện Vệ sinh Dịch tễ T.Ư.
“Kết quả kiểm định sau khi sử dụng 5 loại thiết bị phổ biến ở các cơ sở y tế đều cho kết quả chính xác 100% tại tất cả các thiết bị và tất cả các lần thử nghiệm”, báo cáo viết.
Ông Long cũng cho biết, sau khi được cấp phép tạm thời, Công ty Việt Á tiếp tục nộp hồ sơ đề nghị được đăng ký lưu hành chính thức. Căn cứ ý kiến của 3 nhóm chuyên gia thẩm định hồ sơ về pháp lý, hồ sơ về chất lượng và hồ sơ về hiệu quả chẩn đoán, Bộ Y tế (cụ thể là Vụ Trang thiết bị và Công trình y tế) đã yêu cầu và Công ty Việt Á đã bổ sung hồ sơ.
Hội đồng tư vấn đã họp đánh giá và kiến nghị Bộ Y tế cấp phép đăng ký lưu hành. Do đó, ngày 4.12, Bộ Y tế ban hành Quyết định cấp số lưu hành cho sản phẩm của Việt Á (cùng một công ty khác). Theo báo cáo của Học viện Quân y (đơn vị tổ chức chủ trì nhiệm vụ), học viện tiếp tục có các đánh giá đến tháng 10.2021.
</p>
<h5>Nhiều quy định về công khai giá sinh phẩm xét nghiệm</h5>
<p style="text-align:justify;">
   Đối với việc công khai thông tin về giá sinh phẩm xét nghiệm, Bộ trưởng Nguyễn Thanh Long cho biết, Bộ Y tế đã ban hành quy định một số nội dung trong đấu thầu trang thiết bị y tế tại các cơ sở y tế công lập, trong đó yêu cầu các đơn vị đăng tải kết quả lựa chọn nhà thầu trên cổng thông tin điện tử của Bộ Y tế, hướng dẫn việc công khai kết quả lựa chọn nhà thầu trên website của Bộ Y tế.
Đã có hơn 93.000 kết quả đấu thầu được công khai, trong đó có 3.938 kết quả về sinh phẩm xét nghiệm. Bộ Tài chính, Bộ KH-ĐT, Bộ Y tế đã có các công văn hướng dẫn địa phương trong việc công khai giá, mua sắm trang thiết bị, sinh phẩm xét nghiệm.
</p>
<p style="text-align:justify;">
   Bộ Y tế đã triển khai xây dựng cổng thông tin điện tử chuyên trang về Công khai thông tin về giá trang thiết bị y tế và sinh phẩm xét nghiệm, để tạo điều kiện thuận lợi cho các doanh nghiệp, tổ chức, cá nhân có trách nhiệm công khai thông tin về giá bán các trang thiết bị, vật tư, sinh phẩm y tế, giúp các đơn vị tham khảo và tổ chức lựa chọn nhà thầu theo quy định. Mức giá mua sắm cho mỗi loại sinh phẩm xét nghiệm SARS-CoV-2 khác nhau theo từng giai đoạn và khả năng cung ứng của nhà sản xuất.
</p>