<h1 style="margin:190px 0 20px 0; width: 100%; font-size: 38px; color: #222; text-align: justify;">Bé gái 8 tuổi tử vong: Khởi tố bổ sung Nguyễn Võ Quỳnh Trang về hành vi giết người</h1>
<div class="author__all">
    <div class="author">
        <div style="font-size: 38px; padding-right:10px ;" class="author__logo">
            <i class="far fa-address-card"></i>
        </div>
        <div class="author__info">
            <div style="font-weight:700;" class="author__name">Hoàng Ngọc Hoài Nam</div>
            <div style="color:#666" class="author__email">hoainam@gmail.com</div>
        </div>
    </div>
    <div style="display: flex; align-items: center;" class="author__time">
        <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg>
        <div>10:10 05/01/2022</div>
    </div>
</div>
<p style="font-weight: 600; text-align:justify;">
    Liên quan vụ bé gái 8 tuổi tử vong, sáng 5.1, Công an TP.HCM đã ra quyết định bổ sung quyết định khởi tố vụ án tội 'giết người' và tội 'che giấu tội phạm'.
</p>

<p style="text-align:justify;">
    Sáng 5.1, liên quan vụ bé gái 8 tuổi bị bạo hành tử vong, Cơ quan CSĐT Công an TP.HCM đã ra quyết định bổ sung quyết định khởi tố vụ án tội "giết người" theo điều 123 Bộ luật hình sự, khởi tố vụ án tội "che giấu tội phạm" theo điều 389 Bộ luật hình sự.
</p>
<div style="width: 100%; display:flex; flex-direction:column; margin-top: 20px;" class="image">
    <img style="width: 700px; height:auto; margin: 5px auto;" src="https://kenh14cdn.com/thumb_w/620/203336854389633024/2022/1/5/photo-1-1641351791105116395731.jpg" alt="Bo truong Nguyen Thanh Long"></img>
    <label style="text-align: center; font-weight: 400;">Bị can Nguyễn Võ Quỳnh Trang</label>
</div>
<p style="text-align:justify;">
    Riêng trong khoảng thời gian từ 14 giờ đến 18 giờ ngày 22/12/2021, Nguyễn Võ Quỳnh Trang đã liên tục đánh, đạp… khiến bé V.A tử vong.
Sau khi bé V.A tử vong, Thái biết Trang có đánh con mình nên đã có hành vi xóa bỏ dữ liệu camera của căn hộ nhằm tránh sự phát hiện của cơ quan chức năng.
</p>
<p style="text-align:justify;">
    Ngày 4/1/2022, Cơ quan Cảnh sát điều tra Công an TP.HCM đã ra Quyết định bổ sung quyết định khởi tố vụ án hình sự về việc khởi tố bổ sung vụ án "giết người" và "che giấu tội phạm"; đồng thời có Quyết định bổ sung quyết định khởi tố bị can đối với Nguyễn Võ Quỳnh Trang về tội "Giết người" và có Quyết định khởi tố bị can, lệnh tạm giam đối với Nguyễn Kim Trung Thái về tội "Hành hạ người khác" và "Che giấu tội phạm" để điều tra xử lý theo quy định của pháp luật.
Hiện Cơ quan Cảnh sát điều tra Công an TP.HCM đang tiếp tục điều tra làm rõ vụ án để xử lý theo đúng quy định của pháp luật.
Đồng thời khởi tố bị can, bắt tạm giam đối với Nguyễn Kim Trung Thái (36 tuổi, ngụ Q.1) và Nguyễn Võ Quỳnh Trang (26 tuổi, ngụ Gia Lai) để điều tra về các hành vi: giết người, hành hạ người khác và che giấu tội phạm.

Theo đó, Nguyễn Võ Quỳnh Trang bị khởi tố, điều tra hai hành vi: hành hạ người khác và giết người; Nguyễn Kim Trung Thái bị khởi tố, điều tra hai hành vi: hành hạ người khác và che giấu tội phạm.

Sau khi ra các quyết định liên quan, Cơ quan CSĐT Công an TP.HCM chuyển hồ sơ sang Viện KSND cùng cấp.
</p>
<h5>Đang giám định dữ liệu trong camera bị xoá</h5>

<p style="text-align:justify;">
    Như Thanh Niên đã đưa tin, sự việc bé gái 8 tuổi tử vong xảy ra tối 22.12.2021 khi người cha đưa con đến một bệnh viện ở P.22 cấp cứu. Xác định thi thể cháu bé có dấu hiệu bị bạo hành nên công an đã vào cuộc điều tra. Theo Công an Q.Bình Thạnh, kết quả pháp y cho thấy cháu V.A bị phù phổi cấp và trên người có nhiều vết bầm cũ, mới khác nhau.
</p>
<p style="text-align:justify;">
CQĐT xác định Nguyễn Võ Quỳnh Trang có dấu hiệu bạo hành cháu V.A, nên ngày 28.12, Công an Q.Bình Thạnh (TP.HCM) ra quyết định khởi tố bị can, bắt tạm giam Trang 2 tháng để điều tra về tội “hành hạ người khác”.
</p>
