<div class="heading__all">
  <div class="heading">
    <div class="container">
      <div class="heading__brand">
        <a href="/"><img src="/Images/hoai2.png" class="heading__logo"></a>
        <div class="heading__name__desc">
          <a href="/" class="heading__name">HoaiNamNews.vn</a>
          <a href="/" class="heading__description">Kênh Giải trí - Xã hội</a>
        </div>
      </div>
      <div class="heading__trending">
        <div class="heading__trending__icon"><i class="far fa-arrow-alt-circle-up"></i></div>
        <a href="/news/thoi-gia-kit-xet-nghiem" class="heading__trending__news">#Thổi giá kit xét nghiệm tại công ty Việt Á</a>
        <a href="/news/di-ghe-bao-hanh-be-gai-8-tuoi" class="heading__trending__news">#Dì ghẻ bạo hành bé gái 8 tuổi</a>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="container">
      <a href="/" class="menu__option"><i class="fas fa-home"></i></a>
      <a href="/" class="menu__option">Star</a>
      <a href="/" class="menu__option">Ciné</a>
      <a href="/" class="menu__option">Music</a>
      <a href="/" class="menu__option">Beauty & Fashion</a>
      <a href="/" class="menu__option">Xem mua luôn</a>
      <a href="/" class="menu__option">Đời sống</a>
      <a href="/" class="menu__option">Ăn-Quẩy-Đi</a>
      <a href="/" class="menu__option">Xã hội</a>
      <a href="/" class="menu__option">Thế giới</a>
      <a href="/" class="menu__option">Sport</a>
    </div>
  </div>
  <div class="heading__margin"></div>
</div>