<div class="highlight__block">
  <div class="highlight highlight1">
    <a href="/news/thoi-gia-kit-xet-nghiem"><image class="highlight__image" src="https://image.thanhnien.vn/660x370/Uploaded/2022/nokvrb/2021_07_24/nguyenthanhlong-botruongboyte_fpdk.jpg" alt="Bo truong Nguyen Thanh Long"></a>
    <a href="/news/thoi-gia-kit-xet-nghiem" class="highlight__title1"><div class="highlight__title">Chính phủ báo cáo gì với Quốc Hội vụ thổi giá kit xét nghiệm của công ty Việt Á?</div></a>
    <div class="highlight__time">4 giờ trước - <i class="far fa-comment"></i> 10</div>
  </div>
  <div class="highlight highlight2">
    <image class="highlight__image2" src="https://image.thanhnien.vn/w2048/Uploaded/2022/notnjj/2022_01_04/nguyen-van-sau-8074.png" alt="">
    <a href="/" class="highlight__title1"><div class="highlight__title">Nóng: Bộ Công an đang làm việc tại CDC Bình Phước'</div></a>
    <div class="highlight__time">6 giờ trước - <i class="far fa-comment"></i> 25</div>
  </div>

</div>

<div class="recommend__block">
  <div class="recommend recommend1">
    <image class="recommend__image" src="https://image.thanhnien.vn/660x370/Uploaded/2022/jqkpvowk/2022_01_01/bi-can-trang-8651.jpeg" alt="">
    <a href="/news/di-ghe-bao-hanh-be-gai-8-tuoi" class="highlight__title1"><div class="highlight__title">Bé gái 8 tuổi tử vong: Khởi tố bổ sung Nguyễn Võ Quỳnh Trang hành vi giết người</div></a>
    <div class="highlight__time">10 giờ trước - <i class="far fa-comment"></i> 100</div>
  </div>
  <div class="recommend recommend2">
    <image class="recommend__image" src="https://image.thanhnien.vn/660x370/Uploaded/2022/dqmbpcvo/2022_01_05/1641357783464-159.jpeg" alt="">
    <a href="/" class="highlight__title1"><div class="highlight__title">Tổng bí thư Nguyễn Phú Trọng dự Hội nghị Chính phủ với các địa phương</div></a>
    <div class="highlight__time">12 giờ trước - <i class="far fa-comment"></i> 30</div>
  </div>
  <div class="recommend recommend3">
    <image class="recommend__image" src="https://image.thanhnien.vn/150x100/Uploaded/2022/jutmty/2022_01_05/kit-xet-nghiem-covid-19-6817.jpeg" alt="">
    <a href="/" class="highlight__title1"><div class="highlight__title">TP.HCM thanh tra đột xuất mua sắm, sản xuất kit xét nghiệm Covid-19</div></a>
    <div class="highlight__time">15 giờ trước - <i class="far fa-comment"></i> 46</div>
  </div>
</div>